# Load any .envrc files all the way till /
source_up

# Load .env file if exists
dotenv_if_exists

# Load environment specific overrides if exists
if [ -n "${APP_ENV:-}" ]; then
  # Tell direnv to watch this specific file for edits
  watch_file ".env.${APP_ENV}"
  test -f ".env.${APP_ENV}" && dotenv ".env.${APP_ENV}"
fi

# Load local overrides if exists
test -f .env.local && dotenv .env.local